{
  "extends": ["airbnb", "prettier"],
  "plugins": [
    "prettier",
    "cypress",
    "import",
    "jsx-a11y",
    "react",
    "jest"
  ],
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "eol-last": ["error", "always"],
    "semi": [2, "always"],
    "react/jsx-filename-extension": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }],
    "consistent-return": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-one-expression-per-line": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }]
  },
  "env": {
    "jest": true,
    "browser": true,
  },
  "parser": "babel-eslint"
}